h1{
color: rgb(0, 255, 98);

}
img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid black
}
body {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBpcdisHmbY-IQ8CTIJu-FW_z2uDdBKgdAUrM7BFFMntZtMYot5FMLKthRff2lNOc7d28&usqp=CAU) ;
background-size: 100%;
}
.cabecalho {
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 16px;
}
a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  font-size: 20px;
}
footer {
  display:flex;
  text-align: center;
  justify-content: center;

}
footer a {
  display:flex;
  text-align: center;
  padding: 20px;
  font-size: 16px;

}

